<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:icon="@drawable/jjagawarga_icon"
        android:roundIcon="@drawable/jjagawarga_icon"

        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity">
        </activity>

        <activity
            android:name=".DashboardRtActivity">
        </activity>

        <activity
            android:name=".ListPermintaanActivity">
        </activity>

        <activity
            android:name=".DashboardRwActivity">
        </activity>

        <activity
            android:name=".ResetPasswordActivity">
        </activity>

        <activity
            android:name=".PendingRegisterActivity">
        </activity>


        <activity
            android:name=".TukarJadwalActivity">
        </activity>

        <activity
            android:name=".JadwalRondaActivity">
        </activity>

        <activity
            android:name=".AbsenRondaActivity">
        </activity>

        <activity
            android:name=".LaporanKeamananActivity">
        </activity>



        <activity
            android:name=".BuatPengumumanActivity">
        </activity>

        <activity
            android:name=".TerimaLaporanActivity">
        </activity>


        <activity
            android:name=".AturRtPromoteActivity">
        </activity>

        <activity
            android:name=".AturRtRevokeActivity">
        </activity>

        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Ronda Reminder Alarm Receiver -->
        <receiver
            android:name=".RondaReminderManager$RondaReminderReceiver"
            android:exported="false" />

        <!-- Boot Completed Receiver untuk reschedule alarm setelah restart -->
        <receiver
            android:name=".BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Tukar Jadwal Action Receiver untuk handle tombol notifikasi -->
        <receiver
            android:name=".TukarJadwalActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.jagawarga.ACTION_ACCEPT_SWAP" />
                <action android:name="com.example.jagawarga.ACTION_REJECT_SWAP" />
            </intent-filter>
        </receiver>

    </application>

</manifest>